---

---

<div class="bg-white dark:bg-gray-800 shadow overflow-hidden sm:rounded-md">
  <ul id="taskList" class="divide-y divide-gray-200 dark:divide-gray-700">
    <!-- Tasks will be dynamically inserted here -->
  </ul>
</div>
